In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join('../..'))
if module_path not in sys.path:
    sys.path.append(module_path)

C:\Users\MrMil\miniconda3\envs\automl-drug-discovery\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
WARNING:root:No normalization for BCUT2D_MWHI
WARNING:root:No normalization for BCUT2D_MWLOW
WARNING:root:No normalization for BCUT2D_CHGHI
WARNING:root:No normalization for BCUT2D_CHGLO
WARNING:root:No normalization for BCUT2D_LOGPHI
WARNING:root:No normalization for BCUT2D_LOGPLOW
WARNING:root:No normalization for BCUT2D_MRHI
WARNING:root:No normalization for BCUT2D_MRLOW

In [71]:
import random

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import torch
from sklearn.feature_selection import r_regression
from sklearn.decomposition import PCA

from src.config import DATA_DIR, DATAFILE_NAME
from src.data import HTSDataset, _read_data

In [8]:
DATASET = 'AID1445'
DATASET_DIR = DATA_DIR / DATASET
SD_OR_DR = 'SD'

In [ ]:
raw_dataset = _read_data(DATASET_DIR / DATAFILE_NAME)
dataset = HTSDataset(DATASET_DIR, SD_OR_DR)

Processing...
Done!

In [15]:
dr_data = raw_dataset[raw_dataset['DR'].notnull()]

In [ ]:
dr_data.head()

In [16]:
dr_data.describe()

,CID,SD,SD Z-score,DR,XC50,# atoms,Max atomic num
count,6.550000e+02,655.000000,655.000000,655.000000,655.000000,655.000000,655.0
mean,2.253767e+07,45.096621,6.377211,4.446591,46.474321,27.267176,53.0
std,4.542512e+07,15.295037,2.355941,0.356258,35.531813,5.194422,0.0
min,2.333000e+03,25.953333,3.428512,3.208590,1.000000,13.000000,53.0
25%,1.942414e+06,33.725000,4.625606,4.204502,24.515000,24.000000,53.0
50%,3.641576e+06,40.130000,5.612187,4.375409,42.130000,27.000000,53.0
75%,6.786807e+06,50.910000,7.272663,4.610568,62.445000,31.000000,53.0
max,1.358460e+08,99.860000,14.812578,6.000000,618.600000,48.000000,53.0

In [19]:
r = r_regression(dr_data['SD'].to_numpy().reshape(-1, 1), dr_data['DR'])

array([0.78330016])

In [72]:
degrees = []
for d in dataset:
    degree = d.edge_index.shape[1] / (2 * d.x.shape[0])
    degrees.append(degree)
pd.DataFrame(degrees).describe()

                   0
count  207096.000000
mean        1.077867
std         0.033887
min         0.857143
25%         1.052632
50%         1.080000
75%         1.100000
max         1.343750